* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* banner div */
.banner {
    background: url('bg.jpg');
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: bottom;


}

/* .clouds div */
.banner .clouds {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0
}

/* imgages */

.banner .clouds img {
    position: absolute;
    max-width: 100%;
    bottom: 0;
    /*==============================set name for animation*================================*/
    animation: animate calc(8s* var(--i)) linear infinite;
    -webkit-animation: animate calc(8s* var(--i)) linear infinite;
}

/* ==========================most important -> move ============================*/
@keyframes animate {
    0% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
}


section {
    position: relative;
    padding: 75px 100px;
}

section h2 {
    font-size: 8em;
    text-align: center;
    margin-bottom: auto;
}